.footer {
  width: 1000px;
  height: 5px;
}

.footer__left-corner {
  width: 6px;
  height: 5px;
  background: url("/images/blcor.png") no-repeat left;
}

.footer__center {
  width: 978px;
  background: url("/images/bottom.png");
}

.footer__right-corner {
  width: 6px;
  height: 5px;
  background: url("/images/brcor.png") no-repeat left;
}
