.third-level-menu {
  background: mix(@red, white, 80%);
  margin: 0;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: left;
  color: white;

  &__link {
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-align: left;

    &--is-selected {
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
