{
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaFeatures": {
			// enable global strict mode
			"impliedStrict": true,
			"jsx": true
		},
		"ecmaVersion": 8,
		"sourceType": "module"
	},
	"env": {
		// browser global variables
		"browser": true,
		// Node.js global variables and Node.js scoping
		"node": true,
		// adds all of the Jasmine testing global variables for version 1.3 and 2.0
		"jasmine": true,
		// jQuery global variables
		"jquery": true,
		"mocha": true
	},
	"globals": {
		"Intercom": true,
		"config": true,
		"assert": true,
		"Immutable": true
	},
	"extends": [
		"airbnb"
	],
	"rules": {
		// disabled for now. We need to discuss this in a team.
		"no-underscore-dangle": 0,
		// disabled for now. We need to discuss this in a team.
		"quote-props": 0,
		// disabled for now. We need to discuss this in a team.
		"react/jsx-boolean-value": 0,
		// disabled for now. We need to discuss this in a team.
		"react/prefer-stateless-function": 0,
		// disabled for now. We need to discuss this in a team.
		"new-cap": 0,
		// disabled for now. We need to discuss this in a team.
		"react/no-multi-comp": 0,
		// disabled for now. We need to discuss this in a team.
		"camelcase": 0,
		// We don't want to follow those rules.
		"no-use-before-define": 0,
		"arrow-body-style": 0,
		"prefer-template": 0,
		"brace-style": [
			"error",
			"stroustrup"
		],
		"arrow-parens": "off",
		"class-methods-use-this": "off",
		"comma-dangle": "off",
		"import/extensions": "off",
		"import/first": "off",
		"import/newline-after-import": "off",
		"import/no-extraneous-dependencies": "off",
		"import/no-named-as-default": "off",
		"import/no-named-default": "off",
		"import/no-webpack-loader-syntax": "off",
		"import/prefer-default-export": "off",
		"jsx-a11y/label-has-for": "off",
		"jsx-a11y/no-static-element-interactions": "off",
		"jsx-a11y/no-autofocus": "off",
		"linebreak-style": "off",
		"no-bitwise": "off",
		"no-lonely-if": "off",
		"no-mixed-operators": "off",
		"no-multi-assign": "off",
		"no-plusplus": "off",
		"no-prototype-builtins": "off",
		"no-tabs": "off",
		"operator-assignment": "off",
		"prefer-default-export": "off",
		"quotes": "off",
		"react/forbid-prop-types": "off",
		"react/jsx-curly-spacing": "off",
		"react/jsx-filename-extension": "off",
		"react/jsx-indent": "off",
		"react/jsx-no-bind": "off",
		"react/jsx-no-comment-textnodes": "off",
		"react/jsx-no-target-blank": "off",
		"react/no-array-index-key": "off",
		"react/no-children-prop": "off",
		"react/no-danger": "off",
		"react/no-find-dom-node": "off",
		"react/no-render-return-value": "off",
		"react/no-string-refs": "off",
		"react/no-unescaped-entities": "off",
		"react/no-unused-prop-types": "off",
		"react/prop-types": "off",
		"react/require-default-props": "off",
		"react/self-closing-comp": "off",
		"react/style-prop-object": "off",
		"space-unary-ops": "off",
		"jsx-a11y/href-no-hash": "off",
		"max-len": 0,
		"no-debugger": 1,
		"no-restricted-syntax": 1,
		"no-unused-vars": 1,
		"no-trailing-spaces": 1,
		"no-multiple-empty-lines": 1,
		"indent": 1,
		"no-multi-spaces": 1,
		"padded-blocks": 1,
		"no-else-return": 1,
		"prefer-const": 1,
		"no-useless-concat": 1,
		"spaced-comment": 1,
		"jsx-a11y/alt-text": "off"
	}
}
